<ul class="list-arrow-right">
    <li><strong>Paper Submission: August 12<sup>th</sup>, 2025 (23:59:59 AoE)</strong></li>
    <!-- <li>Paper Submission:   <s>July 10<sup>th</sup>, 2023</s>  July 28<sup>th</sup>, 2023</li> -->
<!--     <s>June 19<sup>th</sup>, 2023</s> <s>June 30<sup>th</sup>, 2023</s> -->
<!--     <li>Reviews Released to Authors:  July 21<sup>th</sup>, 2023
    <li>Rebuttals Due:  July 28<sup>th</sup>, 2023 -->
    <li><strong>Paper Acceptance Notification: September 7<sup>th</sup>, 2025</strong></li>
    <li><strong>Paper Camera Ready: September 13<sup>th</sup>, 2025</strong></li>

    <strong>Poster/Demo Submission: <em>same as paper submission deadlines</strong></em>
   <!--  <li>Poster/Demo/3MT Submission: June 19<sup>th</sup>, 2023</li>
    <li>Poster/Demo/3MT Acceptance Notification: July 19<sup>th</sup>, 2023
    <li>Poster/Demo/3MT Camera Ready: August 1<sup>st</sup>, 2023 -->
</ul>